<app-header [count] ="count">

</app-header>
<div class="movies">

  <app-home [img]="img1" title="Wheel Of Time" [count]="count"
   (increment)="increment()" 
   (decrement)="decrement()" >
  </app-home>
  <app-home [img]="img2" title="His Dark Materials" 
  [count]="count"
  (increment)="increment()"
  (decrement)="decrement()"></app-home>
  <app-home [img]="img3" title="Beauty And Beast" [count]="count" 
  (increment)="increment()"
  (decrement)="decrement()"></app-home>
  <app-home [img]="img4" title="Lost in Space" [count]="count"
  (increment)="increment()"
  (decrement)="decrement()"></app-home>
  <app-home [img]="img5" title="Jurassic" [count]="count"
  (increment)="increment()"
  (decrement)="decrement()"></app-home>
  <app-home [img]="img6" title="Unicorn Academy" [count]="count"
  (increment)="increment()"
  (decrement)="decrement()"></app-home>
  <app-home [img]="img7" title="Berlin" [count]="count"
  (increment)="increment()"
  (decrement)="decrement()"></app-home>
  <app-home [img]="img8" title="Manifest" [count]="count"
  (increment)="increment()"
  (decrement)="decrement()"></app-home>
  <app-home [img]="img9" title="Into The Wild" [count]="count"
  (increment)="increment()"
  (decrement)="decrement()"></app-home>
  <app-home [img]="img10" title="Avatar Way Of Water" [count]="count"
  (increment)="increment()"
  (decrement)="decrement()"></app-home>
  <app-home [img]="img11" title="Titanic" [count]="count"
  (increment)="increment()"
  (decrement)="decrement()"></app-home>
  <app-home [img]="img12" title="Forrest Gump" [count]="count"
  (increment)="increment()"
  (decrement)="decrement()"></app-home>
</div>

<app-footer></app-footer>